
<html lang="en">

<body id="page-top">
    <!-- Masthead-->
    <header class="masthead">
        <div class="container">
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" asp-area="" asp-controller="Clothings" asp-action="Index">Start Shop!</a>

        </div>
    </header>
    <div class="container">
        <div style="text-align:center">
            <video width="100%" height="500" loop autoplay muted>
                <source src="~/videos/00678a63-7c86-4915-ab78-984b5d43d991.MP4" type="video/mp4">
                <source src="~/videos/00678a63-7c86-4915-ab78-984b5d43d991.ogg" type="video/ogg">
            </video>
        </div>
    </div>
</body>
</html>

